extends layout

include mixins/_listingFormInput

block content
  section(class="container-fluid")
    div(class="form-container col-md-6 col-md-offset-3")
      h1(class="form-header text-capitalize") #{title}
      form(action=`/create-listing/${listing._id || ''}` method="POST")
        input(type="hidden" name="_csrf" value= csrfToken)
        +listingFormInput('name', 'text', 'enter name', listing)
        +listingFormInput('address', 'text', 'enter address', listing)
        +listingFormInput('description', 'textarea', 'enter a description', listing)
        +listingFormInput('website', 'url', 'http://example.com', listing)
        +listingFormInput('email', 'email', 'enter an email', listing)
        +listingFormInput('phone', 'tel', '+2347012345678', listing)

        label(class="text-capitalize") Categories
        - const choices = listing.categories || []
        ul.tags
          each c in allCategories
            .tag.tag__choice
              input(type="checkbox" id=c value=c name="categories" checked=(choices.includes(c)))
              label(for=c) #{c}

        div(form-footer form-group pull-right)
          input(class="btn btn-success" type="submit" value="Submit")

