mixin listingFormInput(item, htmlType, example, data = {}, options)
  div(class="row")
    div(class="form-group col-sm-8")
      label(for=`${item}` class="text-capitalize") #{item}
      if (options)
        input(class="form-control" type=`${htmlType}` name=`${item}` value=data[item] id=`${item}` placeholder=`${example}` pattern='[\\+]\\d{0,13}' required)
      else
        input(class="form-control" type=`${htmlType}` name=`${item}` value=data[item] id=`${item}` placeholder=`${example}` required)
